/*-- cart-css --*/
.header-cart .cart-item > div {
    position: relative;
    padding: 5px;
    background: #fbfbfb;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    color: #333;
    -webkit-box-shadow: 0 0 10px 0px #9a9a9a;
    -moz-box-shadow: 0 0 10px 0px #9a9a9a;
    -o-box-shadow: 0 0 10px 0px #9a9a9a;
    -ms-box-shadow: 0 0 10px 0px #9a9a9a;
    box-shadow: 0 0 10px 0px #9a9a9a;
}
.header-cart .cart-item ul {
    overflow-y: scroll;
    max-height: 300px;
}

.header-cart {
    display: block;
    position: relative;
}

.header-cart .cart-item {
    /*display: none;*/
    position: absolute;
    right: 0;
    top: 100%;
    width: 420px;
    z-index: 3;
    padding-top: 25px;
    opacity: 0;
    transform: translateY(20px);
    pointer-events: none;
    transition: all .5s;
}

.header-cart:hover .cart-item {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.sbmincart-showing .header-cart .cart-item {
    display: block;
    z-index: 9999;
    -webkit-animation: zoomIn .3s ease;
    -moz-animation: zoomIn .3s ease;
    -o-animation: zoomIn .3s ease;
    -ms-animation: zoomIn .3s ease;
    animation: zoomIn .3s ease;
}

.header-cart > a {
    display: block;
}

.header-cart .cart-item .sbmincart-empty {
    font-size: 16px;
    font-weight: bold;
}

.header-cart .cart-item ul {
    clear: both;
    float: left;
    width: 100%;
    margin: 5px 0 20px;
    padding: 7px;
    list-style-type: none;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.header-cart .cart-item .sbmincart-empty ul {
    display: none;
}

.header-cart .cart-item .sbmincart-closer {
    float: right;
    margin: -12px -10px 0;
    padding: 0 10px;
    background: 0;
    border: 0;
    font-size: 25px;
    cursor: pointer;
    font-weight: bold;
    outline: none;
}

.header-cart .cart-item .sbmincart-item {
    clear: left;
    padding: 5px 0;
    min-height: 35px;
    display: flex;
}

.header-cart .cart-item .sbmincart-item + .sbmincart-item {
    border-top: 1px solid #f2f2f2;
}

.header-cart .cart-item .sbmincart-item a {
    text-decoration: none;
}

.header-cart .cart-item .sbmincart-item a:hover {
    color: #f35d4c;
}

.header-cart .cart-item .sbmincart-details-name {
    float: left;
    width: 62%;
}

.header-cart .cart-item .sbmincart-details-quantity {
    float: left;
    width: 10%;
    text-align: center;
}

.header-cart .cart-item .sbmincart-details-price {
    float: left;
    width: 28%;
    text-align: right;
}

.header-cart .cart-item .sbmincart-attributes {
    margin: 0;
    padding: 0;
    background: transparent;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    color: #999;
    font-size: 12px;
    line-height: 22px;
    overflow: inherit;
    height: inherit;
}

.header-cart .cart-item .sbmincart-attributes li {
    display: inline;
}

.header-cart .cart-item .sbmincart-attributes li:after {
    content: ",";
}

.header-cart .cart-item .sbmincart-attributes li:last-child:after {
    content: "";
}

.header-cart .cart-item .sbmincart-quantity {
    width: 30px;
    height: 18px;
    padding: 2px 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    font-size: 13px;
    text-align: right;
    transition: border linear 0.2s, box-shadow linear 0.2s;
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
}

.header-cart .cart-item .sbmincart-quantity:hover {
    border-color: #0078C1;
}

.header-cart .cart-item .sbmincart-quantity:focus {
    border-color: #0078C1;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 3px rgba(0, 120, 193, 0.4);
}

.header-cart .cart-item .sbmincart-remove {
    width: 18px;
    height: 19px;
    margin: 2px 0 0;
    padding: 0;
    background: #b7b7b7;
    border: 1px solid #a3a3a3;
    border-radius: 3px;
    color: #fff;
    font-size: 13px;
    opacity: 0.70;
    cursor: pointer;
}

.header-cart .cart-item .sbmincart-remove:hover {
    opacity: 1;
}

.header-cart .cart-item .sbmincart-footer {
    clear: left;
    text-align: center;
    margin-left: -1em;
}

.header-cart .cart-item .sbmincart-footer p a:hover {
    opacity: .8;
}
.header-cart .cart-item .sbmincart-footer p a {
    color: #ffffff;
    background-color: #0064d3;
    border-color: #0064d3;
    width: 60%;
}

.header-cart .cart-item .sbmincart-footer p {
    padding: 10px 0;
}

p.sbmincart-empty-text {
    color: #f35d4c;
    font-weight: 500;
}

.header-cart .cart-item .sbmincart-subtotal {
    position: relative;
    bottom: 3px;
    padding-left: 0;
    left: 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    margin-left: 0.5em;
}

.header-cart .cart-item .sbmincart-submit {
    position: absolute;
    bottom: 10px;
    right: 10px;
    min-width: 153px;
    height: 33px;
    margin-right: 6px;
    padding: 0 9px;
    border: 1px solid #ffc727;
    border-radius: 5px;
    color: #000;
    text-shadow: 1px 1px 1px #fff6e9;
    cursor: pointer;
    background: #ffaa00;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZjZlOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmFhMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #fff6e9 0%, #ffaa00 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff6e9), color-stop(100%, #ffaa00));
    background: -webkit-linear-gradient(top, #fff6e9 0%, #ffaa00 100%);
    background: -o-linear-gradient(top, #fff6e9 0%, #ffaa00 100%);
    background: -ms-linear-gradient(top, #fff6e9 0%, #ffaa00 100%);
    background: linear-gradient(to bottom, #fff6e9 0%, #ffaa00 100%);
}

.header-cart .cart-item .sbmincart-submit img {
    vertical-align: middle;
    padding: 4px 0 0 2px;
}

/* Let's get this party started */
.header-cart .cart-item ul::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.header-cart .cart-item ul::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #f35d4c;
    -moz-box-shadow: inset 0 0 6px #f35d4c;
    -o-box-shadow: inset 0 0 6px #f35d4c;
    -ms-box-shadow: inset 0 0 6px #f35d4c;
    box-shadow: inset 0 0 6px #999;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
.header-cart .cart-item ul::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    background: #f35d4c;
    -moz-box-shadow: inset 0 0 6px #f35d4c;
    -o-box-shadow: inset 0 0 6px #f35d4c;
    -ms-box-shadow: inset 0 0 6px #f35d4c;
    -webkit-box-shadow: inset 0 0 6px #f35d4c;
    box-shadow: inset 0 0 6px #f35d4c;
}

/*-- //cart-css --*/